.preloader_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px dotted teal;
    animation: rotate infinite 1.5s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
